<a href="https://colab.research.google.com/github/hwangsaeyeon/dsalgorithm_bootcamp/blob/main/%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###관계 연산자 
if (a==200)보다는 if (200==a)가 안전함

In [ ]:
%%writefile relational_1.c

#include <stdio.h>

int main(){
    int a=100, b=200; 
    printf("%d == %d는 %d이다.\n",a,b,a==b);
    printf("%d != %d는 %d이다.\n",a,b,a!=b);
    printf("%d > %d는 %d이다.\n",a,b,a>b);
    printf("%d < %d는 %d이다.\n",a,b,a<b);
    printf("%d >= %d는 %d이다.\n",a,b,a>=b);
    printf("%d <= %d는 %d이다.\n",a,b,a<=b);

    printf("%d = %d는 %d이다.\n",a,b,a=b); //대입 연산자 

}

Overwriting relational_1.c

In [ ]:
%%shell 
gcc relational_1.c -o relational1
./relational1

100 == 200는 0이다.
100 != 200는 1이다.
100 > 200는 0이다.
100 < 200는 1이다.
100 >= 200는 0이다.
100 <= 200는 1이다.
200 = 200는 200이다.

###논리 연산자
A && B : A가 참이면 B 실행

A || B : A가 거짓이면 B 실행

In [ ]:
%%writefile logical_1.c
#include <stdio.h>
int main()
{
    char a = 3; 
    a > 2 && a++;
    a > 2 || a++;
    printf("a = %d\n",a);
    return 0; 
}

Overwriting logical_1.c

In [ ]:
%%shell 
gcc logical_1.c -o logical1
./logical1

a = 4

###비트 주세요
<< 비트를 왼쪽으로 시프트

\>> 비트를 오른쪽으로 시프트

In [ ]:
%%writefile bit_1.c

#include <stdio.h>
int main()
{
    char a = 10; //0000 1010
    printf("a<<1=%d\n", a<<1); //0001 0100 = 20 
    printf("a<<2=%d\n", a<<2); //0010 1000 = 40 
    printf("a>>1=%d\n", a>>1); //0000 0101 = 5
    printf("a>>2=%d\n", a>>2); //0000 0010 = 2

}

Overwriting bit_1.c

In [ ]:
%%shell
gcc bit_1.c -o bit1
./bit1

a<<1=20
a<<2=40
a>>1=5
a>>2=2

### if-else
if(조건문)

elif -> else if 

조건문 ? 참일때실행 : 거짓일때 실행;

In [ ]:
%%writefile tenary_1.c

#include <stdio.h>

int main()
{
    int a = 200, b= 100, max = 0;

    if (a >= b){
        max = a; 
    }
    else
    {
        max = b;
    }
    printf("max = %d\n", max); 
    
    max = 0; 
    max = a>=b ? a : b;
    printf("max = %d\n",max); 
}

Overwriting tenary_1.c

In [ ]:
%%writefile tenary_2.c
#include <stdio.h>
int main(){
    int a= 200; 
    if (a<100)
    {
        printf("100보다 작군요\n");
        printf("참이면 이 문장도 보이겠죠?\n"); 
    }
    else{
        printf("100보다 크군요\n");
        printf("거짓\n"); 
    }
    printf("프로그램 끗"); 
}

Overwriting tenary_2.c

In [ ]:
%%shell
gcc tenary_1.c -o tenary1
./tenary1

max = 200
max = 200

In [ ]:
%%shell
gcc tenary_2.c -o tenary2
./tenary2

100보다 크군요
거짓
프로그램 끗

###Switch

In [ ]:
%%writefile switch_1.c

#define _CRT_SECURE_NO_WARNINGS
#include <stdio.h>

int main()
{
    int a; 
    printf("1~4 중에 선택하세요 : "); 
    scanf("%d", &a); 

    switch(a)
        {
        case 1: 
            printf("1을 선택했다\n"); 
            break; 
        case 2: 
            printf("2를 선택했다\n"); 
            break;  
        case 3: 
            printf("3을 선택했다\n"); 
            break;  
        case 4: 
            printf("4를 선택했다\n"); 
            break;
        default:
            printf("이상한 걸 선택했다\n"); 
        }
    return 0; 
}

Overwriting switch_1.c

In [ ]:
%%shell 
gcc switch_1.c -o switch1
./switch1

1~4 중에 선택하세요 : 5
이상한 걸 선택했다

###for문
for(초깃값 ; 조건식 ; 증감식)

In [ ]:
%%writefile for_1.c

#define _CRT_SECURE_NO_WARNINGS
#include <stdio.h>

int main(){
    int hap = 0; 
    int i=0;
    int num;

    printf("값 입력 : "); 
    scanf("%d",&num); 

    for(i=1; i<=num; i++){
        hap += i; 
        // hap 1 (i=2)
        // hap 1+2 (i=3)
        // hap 3+3 (i=4)
        // hap 6+4 (i=5)
        // hap 10+5 (i=6)
        // hap 15+6 (i=7)
        // hap 21+7 (i=8)
        // hap 28+8 (i=9)
        // hap 36+9 (i=10)
        // hap 45+10 (i=11)
    }

    printf("1에서 %d까지의 합 %d \n", num, hap); 

}

Overwriting for_1.c

In [ ]:
%%shell 
gcc for_1.c -o for1
./for1

값 입력 : 10
1에서 10까지의 합 55

In [ ]:
%%writefile for_2.c
#include <stdio.h>

int main()
{
    int i, k; 
    for (i=0; i<3; i++)
    {
        for(k=0; k<2; k++)
        {
            printf("중첩 for 문입니다. (i값 %d, k값 %d)\n",i,k); 
        }
    }
}

Overwriting for_2.c

In [ ]:
%%shell 
gcc for_2.c -o for2
./for2

중첩 for 문입니다. (i값 0, k값 0)
중첩 for 문입니다. (i값 0, k값 1)
중첩 for 문입니다. (i값 1, k값 0)
중첩 for 문입니다. (i값 1, k값 1)
중첩 for 문입니다. (i값 2, k값 0)
중첩 for 문입니다. (i값 2, k값 1)

In [ ]:
%%writefile for_3.c

#include <stdio.h>
int main()
{
    int i, k;

    for (i=1, k=1; i<=9; i++, k++)
        printf("%d X %d = %d \n",i,k,i*k);

}

Overwriting for_3.c

In [ ]:
%%shell 
gcc for_3.c -o for3
./for3

1 X 1 = 1
2 X 2 = 4
3 X 3 = 9
4 X 4 = 16
5 X 5 = 25
6 X 6 = 36
7 X 7 = 49
8 X 8 = 64
9 X 9 = 81

###while 문
while(1) : 무한루프

do ~ while문: 조건식이 아래에, 무조건 한 번은 실행

In [ ]:
%%writefile while_1.c

#define _CRT_SECURE_NO_WARNINGS
#include <stdio.h>

int main()
{
    int menu; 
    do {
        printf("손님 주문?");
        printf("<1>카페라떼 <2>카푸치노 <3>아메리카노 <4>그만 시킬래요 ==> ");
        scanf("%d",&menu);
        switch(menu){
            case 1 : printf("#카페라떼 주문하셨습니다. ^^\n"); break; 
            case 2 : printf("#카푸치노 주문하셨습니다. --;\n"); break;
            case 3 : printf("#아메리카노 주문하셨습니다. ^^\n"); break; 
            case 4 : printf("주문하신 커피 준비하겠습니다. \n"); break; 
            default : printf("잘못 주문하셨습니다."); 
        }
    } while (menu != 4); // 조건문이 아래에
}

Writing while_1.c

In [ ]:
%%shell 
gcc while_1.c -o while1
./while1

손님 주문?<1>카페라떼 <2>카푸치노 <3>아메리카노 <4>그만 시킬래요 ==> 1
#카페라떼 주문하셨습니다. ^^
손님 주문?<1>카페라떼 <2>카푸치노 <3>아메리카노 <4>그만 시킬래요 ==> 2
#카푸치노 주문하셨습니다. --;
손님 주문?<1>카페라떼 <2>카푸치노 <3>아메리카노 <4>그만 시킬래요 ==> 3
#아메리카노 주문하셨습니다. ^^
손님 주문?<1>카페라떼 <2>카푸치노 <3>아메리카노 <4>그만 시킬래요 ==> 3
#아메리카노 주문하셨습니다. ^^
손님 주문?<1>카페라떼 <2>카푸치노 <3>아메리카노 <4>그만 시킬래요 ==> 4
주문하신 커피 준비하겠습니다.

In [ ]:
%%writefile while_2.c

#define _CRT_SECURE_NO_WARNINGS
#include <stdio.h>
int main()
{
    int a,b;
    char ch;
    while(1) //무한루프 
    {
        printf("계산할 두 수를 입력 : "); 
        scanf("%d %d",&a,&b); 

        printf("계산할 연산자를 입력하세요 : "); 
        scanf(" %c",&ch); 

        switch(ch){
            case '+': 
                printf("%d + %d = %d 입니다. \n",a,b,a+b); 
                break ;
            case '-': 
                printf("%d - %d = %d 입니다. \n",a,b,a-b); 
                break ;
            case '*': 
                printf("%d * %d = %d 입니다. \n",a,b,a*b); 
                break ;
            case '/': 
                printf("%d / %d = %d 입니다. \n",a,b,a/b); 
                break ;
            case '%': 
                printf("%d %% %d = %d 입니다. \n",a,b,a%b); 
                break ;
            default : 
                printf("연산자를 잘못 입력했습니다. \n"); 

        }
    }
}

Overwriting while_2.c

###break

In [ ]:
%%writefile break_1.c
#include <stdio.h>

int main()
{
    int hap =0; 
    int i; 

    for (i=1; i<=100; i++) //괄호 안의 내용을 다 돌고서 i + 1 이 됨
    {
        hap = hap + i; 

        if(hap>=1000)
            break; 
    }
    printf("1~100의 합에서 최초로 100이 넘는 위치는? %d\n", i);
}

Overwriting break_1.c

In [ ]:
%%shell 
gcc break_1.c -o break1
./break1

1~100의 합에서 최초로 100이 넘는 위치는? 45

### continue

In [ ]:
%%writefile continue_1.c
#include <stdio.h>

int main(){
    int hap = 0 ; 
    int i;

    for (i=1; i<=100; i++){
        if (i%3 ==0)
            continue; //다시 for 문으로 돌아간다 
        hap += i; 
    }
    printf("1~100까지의 합(3의 배수 제외) : %d\n", hap); 
}

Overwriting continue_1.c

In [ ]:
%%shell 
gcc continue_1.c -o continue1 
./continue1

1~100까지의 합(3의 배수 제외) : 3367

###Array 
행부터 접근할 것

In [ ]:
%%writefile array_1.c

#include <stdio.h>
int main()
{
    int aa[4] = {100,200,300,400}; 
    int bb[] = {100,200,300,400}; 
    int cc[4] = {100,200}; 
    int dd[4] = {0}; 
    int i; 

    for (i=0 ; i<=3 ; i++)
        printf("aa[%d] ==> %d\t",i,aa[i]);
    printf("\n");

    for (i=0 ; i<=3 ; i++)
        printf("bb[%d] ==> %d\t",i,bb[i]);
    printf("\n");

    for (i=0 ; i<=3 ; i++)
        printf("cc[%d] ==> %d\t",i,cc[i]);
    printf("\n");

    for (i=0 ; i<=3 ; i++)
        printf("dd[%d] ==> %d\t",i,dd[i]);
    printf("\n");
}

Overwriting array_1.c

In [ ]:
%%shell 
gcc array_1.c -o array1
./array1

aa[0] ==> 100	aa[1] ==> 200	aa[2] ==> 300	aa[3] ==> 400
bb[0] ==> 100	bb[1] ==> 200	bb[2] ==> 300	bb[3] ==> 400
cc[0] ==> 100	cc[1] ==> 200	cc[2] ==> 0	cc[3] ==> 0
dd[0] ==> 0	dd[1] ==> 0	dd[2] ==> 0	dd[3] ==> 0

In [ ]:
%%writefile array_2.c
#include <stdio.h>

int main()
{
    int aa[] = {10,20,30,40,50}; 
    int count; 
    
    count = sizeof(aa)/sizeof(int); // sizeof(배열이름)/sizeof(배열Type)
    printf("배열 aa[]의 요소의 개수는 %d 입니다.\n",count); 
}

Writing array_2.c

In [ ]:
%%shell
gcc array_2.c -o array2 
./array2

배열 aa[]의 요소의 개수는 5 입니다.

In [ ]:
%%writefile array_3.c

#include <stdio.h>
int main()
{
    int aa[3][4] = {
        {1,2,3,4},
        {5,6,7,8},
        {9,10,11,12}
    }; 
    int i, k;
    printf("aa[0][0]부터 a[2][3]까지 출력 \n"); 
    for (i=0; i<3; i++)
    {
        for (k=0; k<4; k++)
        {
            printf("%3d", aa[i][k]);
        }
        printf("\n"); 
    }
}

Overwriting array_3.c

In [ ]:
%%shell 
gcc array_3.c -o array3
./array3

aa[0][0]부터 a[2][3]까지 출력
  1  2  3  4
  5  6  7  8
  9 10 11 12